<span id="votes">
  <% if question.voted_up_by?(current_user) %>
    <%= link_to "Undo Vote Up",
                question_vote_path(question, current_user_vote),
                method: :delete,
                remote: true,
                data: {disable_with: "...."} %>
    (<%= question.vote_sum %>)
    <%= link_to "Vote Down",
                question_vote_path(question, current_user_vote,
                                  {vote: {is_up: false}}),
                method: :patch,
                remote: true %>
  <% elsif question.voted_down_by?(current_user) %>
    <%= link_to "Vote Up",
                question_vote_path(question, current_user_vote,
                                  {vote: {is_up: true}}),
                method: :patch,
                remote: true %>
    (<%= question.vote_sum %>)
    <%= link_to "Undo Vote Down",
                question_vote_path(question, current_user_vote),
                method: :delete,
                remote: true,
                data: {disable_with: "...."} %>
    |
  <% else %>
    <%= link_to "Vote Up",
                question_votes_path(question, vote: {is_up: true}),
                remote: true,
                method: :post %>
    (<%= question.vote_sum %>)
    <%= link_to "Vote Down",
                question_votes_path(question, vote: {is_up: false}),
                remote: true,
                method: :post %>
  <% end %>
</span>
