<h1><%= @question.title.titleize %></h1>
<p><%= @question.body %></p>
<p>Views: <%= @question.view_count %></p>
<p>Created By: <%= @question.user.full_name if @question.user %></p>

<div>
  <% if @question.liked_by?(current_user) %>
    <%= link_to fa_icon("thumbs-up"),
                question_like_path(@question, @question.like_for(current_user)),
                method: :delete,
                class: "like-icon" %>
    (<%= @question.likes.count %>)
  <% else %>
    <%= link_to fa_icon("thumbs-o-up"),
                question_likes_path(@question),
                method: :post,
                class: "like-icon" %>
    <% end %>

<%= render "/questions/vote", question: @question %>

<!-- <div class="edit_delete"> -->
  <% if can? :manage, @question %>
    <%= link_to "Edit", edit_question_path(@question) %> |
    <%= link_to "Delete", question_path(@question),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
  <% end %>

<div class="image">
  <%= image_tag @question.image.url(:medium) %>
</div>
<!-- </div> -->

<p>Tags: <%= @question.tags.map { |t| t.title }.join(", ") %></p>
<%#= form_for @answer, url: question_answers_path(@question) do %>
<h2>Create an Answer</h2>
<div id="answer-form">
  <%= render "answers/form" %>
</div>

<h2>Answers</h2>
<div id="answers">
  <% @question.answers.each do |ans| %>
    <%= render "/answers/answer", answer: ans %>
  <% end %>
</div>
