<h1><%= @question.title.titleize %></h1>
<p><%= @question.body %></p>
<p>Views: <%= @question.view_count %></p>
<p>Created By: <%= @question.user.full_name if @question.user %></p>

<div class="like">
  <% if @question.liked_by?(current_user) %>
    <%= link_to fa_icon("thumbs-up"),
                question_like_path(@question, @question.like_for(current_user)),
                method: :delete,
                class: "like-icon" %>
    (<%= @question.likes.count %>)
  <% else %>
    <%= link_to fa_icon("thumbs-o-up"),
                question_likes_path(@question),
                method: :post,
                class: "like-icon" %>
    <% end %>
</div>

<!-- <div class="vote"> -->
<% if @question.voted_up_by?(current_user) %>
  <%# Case when use voted up %>
  <%= link_to "Undo Vote Up",
              question_vote_path(@question, current_user_vote),
              method: :delete,
              data: {disable_with: "...."} %>
  (<%= @question.vote_sum %>)
  <%= link_to "Vote Down",
              question_vote_path(@question, current_user_vote,
                                {vote: {is_up: false}}),
              method: :patch %>
<% elsif @question.voted_down_by?(current_user) %>
  <%= link_to "Vote Up",
              question_vote_path(@question, current_user_vote,
                                {vote: {is_up: true}}),
              method: :patch%>
  (<%= @question.vote_sum %>)
  <%= link_to "Undo Vote Down",
              question_vote_path(@question, current_user_vote),
              method: :delete,
              data: {disable_with: "...."} %>
  |
<% else %>
  <%= link_to "Vote Up",
              question_votes_path(@question, vote: {is_up: true}),
              method: :post %>
  (<%= @question.vote_sum %>)
  <%= link_to "Vote Down",
              question_votes_path(@question, vote: {is_up: false}),
              method: :post %>
<% end %>
<!-- </div><br> -->

<!-- <div class="edit_delete"> -->
  <% if can? :manage, @question %>
    <%= link_to "Edit", edit_question_path(@question) %> |
    <%= link_to "Delete", question_path(@question),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
    <% end %>
<!-- </div> -->

<p>Tags: <%= @question.tags.map { |t| t.title }.join(", ") %></p>
<%#= form_for @answer, url: question_answers_path(@question) do %>
<h2>Create an Answer</h2>
<%= @answer.errors.full_messages.join(", ") %>
<%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>Answers</h2>
<% @question.new_first_answers.each do |ans| %>
  <div>
    <%= ans.body %>
    <% if can? :manage, @question %>
    <%= link_to "Delete", question_answer_path(@question, ans),
                          method: :delete,
                          data: {confirm: "Are you sure?"} %><% end %>
  </div>
<% end %>
