<%= link_to "Home", root_path %>
|
<!-- <a href="<%= about_path %>">About Us</a> -->

<!-- <a href="<%= about_url %>">About Us</a> -->

<%#= link_to("About Us", about_path, {class: "abc", id: "xyz"}) %>
<!-- Instead of using an <a href> tag, we can use ruby and do link_to -->
<%#= link_to "Cowsay", cowsay_path %>

<%= link_to "New Question", new_question_path %>
|
<%= link_to "All Questions", questions_path %>
|
<% if user_signed_in? %>
  <%= link_to "Liked Questions", likes_path %>
  |
  Hello, <%= current_user.first_name %>
  <%= link_to "Sign Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_path %> |
  <%= link_to "Sign In", new_session_path %> |
  <%= link_to "Sign In With Twitter", sign_in_with_twitter_path %>
<% end %>
<hr>
